:root {
  --main: #cfe8ef;
  --main-opaque: #cfe8ef75;
  --main-clear: #cfe8ef25;
  --main-inverse: #303111;
  --main-contrast: #50cdd3;
  --btn-hover: #cfcfcf50;
}

#root {
  height: 100svh;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

/* Navbar component */
.navbar {
  background-color: var(--main);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  .bookshelf-nav,
  .search-nav {
    margin: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid #00000025;
    border-radius: 4px;
    font-size: 1.125rem;

    a {
      display: flex;
      align-items: center;
    }
  }

  .bookshelf-nav a {
    gap: 0.75rem;
  }

  .search-nav a {
    gap: 0.375rem;
  }

  .bookshelf-nav:hover,
  .search-nav:hover {
    cursor: pointer;
    background-color: var(--btn-hover);
  }

  .search-signout--container {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .signout-nav {
    img:hover {
      transform: scale(1.05);
    }
  }
}

/* Book display wrapper */
.book-display {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 2.5rem;
}

/* Login component (page) */
.login {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main);
  gap: 5rem;

  .login-interface {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }

  .login-hero {
    text-align: center;

    h1 {
      font-size: 5rem;
      letter-spacing: -4px;
    }

    h2 {
      font-weight: 400;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .user-field,
    .password-field {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
    }

    button {
      background: white;
      border: 1px solid #cacacaca;
      border-radius: 2px;
      align-self: flex-end;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      font-weight: 00;
    }

    button:hover {
      cursor: pointer;
      background-color: var(--btn-hover);
    }

    label {
      font-size: 1rem;
      font-weight: 700;
    }

    input {
      background-color: white;
      border: 1px solid var(--main-inverse);
      border-radius: 2px;
      font-size: 1rem;
      padding: 0.5rem;
      max-width: initial;
    }

    .warning,
    .loader {
      text-align: center;
      align-self: center;
    }

    .loader {
      max-width: 50%;
      color: var(--main-inverse);
      font-weight: 600;
    }

    .warning {
      max-width: 75%;
      color: crimson;
      font-weight: 600;
    }

    .login-error {
      label {
        color: crimson;
      }

      input {
        border: none;
        background-color: lightpink;
        outline: 1px solid salmon;
      }
    }
  }
}

/* Search component (page) */
.book-search {
  .book-card--container {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    padding: 1rem;
    background-color: var(--main-clear);
    border: 1px solid var(--main-opaque);

    .book-card--thumbnail {
      display: grid;
      place-items: center;
    }
  }

  .search-input--container {
    display: flex;

    button,
    input {
      border: 1px solid var(--btn-hover);
      padding: 0.25rem;
      border-radius: 6px;
    }

    button {
      background: var(--main);
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      padding: 1rem 2rem;
    }

    button:hover {
      cursor: pointer;
      background-color: var(--btn-hover);
    }

    input {
      flex: 1;
      background-color: var(--main-clear);
      border-left: none;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      font-size: 1.5rem;
      padding-inline: 1rem;
    }

    button:focus,
    input:focus {
      outline: none;
    }

    input:focus {
      background-color: white;
      border: 1px solid var(--main);
    }
  }

  .search-output--container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2.5rem;

    .book-card--container {
      .book-card--thumbnail img {
        max-width: 128px;
      }

      .book-card--info {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .book-card--title {
          color: var(--main-contrast);
        }
      }
    }
  }
}

/* Book details component (page) */
.book-details {
  .book-card--container {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    span,
    label {
      font-weight: 700;
    }
  }

  .book-card--header {
    font-size: 3rem;
  }

  .book-card--content {
    display: flex;
    gap: 2.5rem;
  }

  .book-card--thumbnail {
    img {
      max-width: 200px;
    }
  }

  .book-card--description {
    max-width: 1000px;
  }

  .book-card--info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .book-card--heading {
    display: flex;
    align-items: flex-start;
    gap: 3rem;
  }

  .book-card--links {
    display: flex;
    gap: 1rem;
  }

  .book-card--shelf-select {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    select {
      align-self: flex-start;
      font-size: 1rem;
      padding: 0.5rem 1rem;
      border-radius: 4px;
      font-size: 1rem;
      width: 200px;
    }
  }
}

/* Bookshelf component (page) */
.bookshelf {
  .bookshelf--container {
    display: grid;
    grid-template-rows: repeat(3, auto);
    row-gap: 5rem;
  }

  .bookshelf-wrapper {
    min-height: 150px;
    display: flex;
    flex-direction: column;
    background-color: #cfe8ef50;
    padding: 2.5rem;
    gap: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    & h1 {
      letter-spacing: -1px;

      span {
        font-weight: 100;
      }
    }

    & span.empty {
      font-style: italic;
      font-weight: 700;
      margin-bottom: 0.5rem;
    }
  }

  .book-card--container {
    display: flex;
    gap: 2.5rem;
    padding: 1rem;
    background-color: var(--main-clear);
    border: 1px solid var(--main-opaque);

    img {
      max-width: 200px;
      border: 1px solid #80808050;
      padding: 0.25rem;
    }
  }

  .bookshelf-card--info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .bookshelf-card--title {
    color: cornflowerblue;
    font-weight: 600;
  }

  .bookshelf-card--shelf-select {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    select {
      border: 1px solid cornflowerblue;
      border-radius: 4px;
      font-size: 1rem;
      padding: 0.5rem 1rem;
      width: 200px;
    }

    label {
      font-weight: 700;
    }

    button {
      align-self: flex-start;
      border: 1px solid salmon;
      border-radius: 4px;
      color: salmon;
      cursor: pointer;
      margin-top: 1rem;
      padding: 0.25rem 0.5rem;
      font-weight: 600;
    }

    button:hover {
      background-color: salmon;
      color: white;
    }
  }
}
